@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HR_web (.NET 8)</h1>
    <p>Dự án chuyển đổi từ HRApplication sang .NET 8 đã sẵn sàng.</p>
</div>
