<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\HR_web.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <staticContent>
        <remove fileExtension=".mp4" />
        <remove fileExtension=".webm" />
        <remove fileExtension=".mov" />
        <mimeMap fileExtension=".mp4"  mimeType="video/mp4" />
        <mimeMap fileExtension=".webm" mimeType="video/webm" />
        <mimeMap fileExtension=".mov"  mimeType="video/quicktime" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
